<div class="homepage">
  <div class="container">
    <div class="row pb-5">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Student</h5>
          <div class="card-body">
            <h5 class="card-title">Student management<img alt="" class="img" src="assets/screen.svg"></h5>
            <p class="card-text">student registration, list by class and all list. assign class</p>
            <a class="btn btn-primary" routerLink="/stud/studList">Go to student</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Teachers</h5>
          <div class="card-body">
            <h5 class="card-title">Teachers management</h5>
            <p class="card-text">teachers registration</p>
            <a class="btn btn-primary" routerLink="/teach/teachList">Go to teachers</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row pb-5">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row pb-5">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Featured</h5>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

