<div class="header-con">
    <div class="cont">
      <div class="ro">
        <div class="co">
          <h6>Student List By Class</h6>
        </div>
        <div class="co">
          <button class="btn btn-success">Assign Student</button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-con">
    <div *ngIf="!classIdList">
      <h4>Notice: <small>There are no students list currently</small></h4>
    </div>
    <div *ngIf="classIdList">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Middle</th>
            <th scope="col">Student ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let each of classIdList;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{each.firstName}}</td>
            <td>{{each.lastName}}</td>
            <td>{{each.middleName}}</td>
            <td>{{each.studentId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
