<div class="header-con">
  <div class="cont">
    <div class="ro">
      <div class="co">
        <h6>Sections List</h6>
      </div>
      <div class="co">
        <button class="btn btn-success" (click)="registerStu()">Add Section</button>
      </div>
    </div>
  </div>
</div>
<div class="list-con">
  <div *ngIf="!sectionList">
    <h4>Notice: <small>There are no Sections list currently</small></h4>
  </div>
  <div *ngIf="sectionList">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let each of sectionList;let i=index">
        <td>{{i+1}}</td>
        <td>{{each.name}}</td>
        <td>{{each.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
