<div class="modal-me">
  <div class="modal-header">
    <h5>Add Assesment</h5>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="registerNow()" [formGroup]="register">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="givenDate">Name</label>
        <div class="col-sm-8">
          <input class="form-control" formControlName="givenDate" id="givenDate" placeholder="middle givenDate"
            type="text">
          <div *ngIf="givenDate.invalid && (givenDate.dirty || givenDate.touched)">-->
            <small *ngIf="register.hasError('required',['givenDate'])" class="form-text text-muted"
              style="color : red !important;">this
              field is required
            </small>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="lastName">Assesment Type</label>
        <div class="col-sm-8">
          <select id="inputState" formControlName="assesmentTypeId" class="form-control">
            <option *ngFor="let each of assesTypeList;let i=index" [ngValue]="each.id">{{each.givenDate}}</option>
          </select>
        </div>
      </div>

      <br>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="lastName">Program</label>
        <div class="col-sm-8">
          <select id="inputState" formControlName="programId" class="form-control">
            <option *ngFor="let each of proList;let i=index" [ngValue]="each.id">{{each.givenDate}}</option>
          </select>
        </div>
      </div>

      <br>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="lastName">Teacher</label>
        <div class="col-sm-8">
          <select id="inputState" formControlName="teacherId" class="form-control">
            <option *ngFor="let each of proList;let i=index" [ngValue]="each.id">{{each.firstName}}</option>
          </select>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="lastName">Class</label>
        <div class="col-sm-8">
          <select id="inputState" formControlName="classId" class="form-control">
            <option *ngFor="let each of classList;let i=index" [ngValue]="each.id">{{each.firstName}}</option>
          </select>
        </div>
      </div>
      <br>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="lastName">Subject</label>
        <div class="col-sm-8">
          <select id="inputState" formControlName="subjectId" class="form-control">
            <option *ngFor="let each of subjectsList;let i=index" [ngValue]="each.id">{{each.firstName}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-light" for="givenDate">Given Date</label>
        <div class="col-sm-8">
          <input class="form-control" formControlName="givenDate" id="givenDate" placeholder="given Date" type="date">
          <div *ngIf="givenDate.invalid && (givenDate.dirty || givenDate.touched)">
            <small *ngIf="register.hasError('required',['givenDate'])" class="form-text text-muted"
              style="color : red !important;">this
              field is required
            </small>
          </div>
        </div>
      </div>
      <br>

      <div class="form-group row">
          <label class="col-sm-4 col-form-label text-light" for="submittedDate">Submited Date</label>
          <div class="col-sm-8">
            <input class="form-control" formControlName="submittedDate" id="submittedDate" placeholder="submitted Date" type="date">
            <div *ngIf="submittedDate.invalid && (submittedDate.dirty || submittedDate.touched)">
              <small *ngIf="register.hasError('required',['submittedDate'])" class="form-text text-muted"
                style="color : red !important;">this
                field is required
              </small>
            </div>
          </div>
        </div>
        <br>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label text-light" for="weight">Weight</label>
            <div class="col-sm-8">
              <input class="form-control" formControlName="weight" id="weight" placeholder="weight" type="text">
              <div *ngIf="weight.invalid && (weight.dirty || weight.touched)">
                <small *ngIf="register.hasError('required',['weight'])" class="form-text text-muted"
                  style="color : red !important;">this
                  field is required
                </small>
              </div>
            </div>
          </div>
          <br>

      <div class="submit">
        <button class="btn btn-success float-right" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>