<nav id="sidebar">
  <app-sidebar></app-sidebar>
  <div class="desc">
      <div class="lis" routerLink="./studList" routerLinkActive="active">
        <h6><i class="fa fa-list pr-2"></i>Student List</h6>
      </div>
      <div class="lis" routerLink="./listByClass" routerLinkActive="active">
        <h6><i class="fa fa-list pr-2"></i>List By class</h6>
      </div>
      <div class="lis" routerLink="/homepage" routerLinkActive="active">
        <h6><i class="fa fa-arrow-left pr-2"></i>  Go to Homepage</h6>
      </div>
  </div>
  <div class="footer">
    <div class="foo">
      <div class="btn-group" dropdown [dropup]="isDropup">
        <button id="button-dropup" dropdownToggle type="button" class="btn btn-light dropdown-toggle bbt"
          aria-controls="dropdown-dropup">
          <i class="fa fa-user"></i>
        </button>
        <h6>User</h6>
        <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
          <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="content">
  <div class="main-con">
    <router-outlet></router-outlet>
  </div>
</div>
