<div class="header-con">
  <div class="cont">
    <div class="ro">
      <div class="co">
        <h6>Teachers List</h6>
      </div>
      <div class="co">
        <button class="btn btn-success" (click)="regTeach()">Register Teachers</button>
      </div>
    </div>
  </div>
</div>
<div class="list-con">
  <div *ngIf="!listTeachers">
    <h4>Notice: <small>There are no teachers list currently</small></h4>
  </div>
  <div *ngIf="listTeachers">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Phone Number 2</th>
          <th scope="col">email</th>
          <th scope="col">qualification</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let each of listTeachers;let i=index">
          <td>{{i+1}}</td>
          <td>{{each.firstName}} {{each.lastName}} {{each.middleName}}</td>
          <td>{{each.phoneNumber}}</td>
          <td>{{each.phoneNumber2}}</td>
          <td>{{each.email}}</td>
          <td>{{each.qualification}}</td>
          <td>{{each.statusName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
