.header{
    background-color: rgb(80, 73, 72);
    font-size: 14px;
    color: white;
    position: relative;
    width: 100%;
    z-index: -1;
    .navbar{
        width: 50%;
        float: left;
    }
    .navnth{
        width: 50%;
        float: left;
    }
}


.header-con{
    height: 60px;
    width: 100%;
    color: white;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid wheat;
}

.cont{
    width:100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    .ro{
        float: left;
        width: 100%;
        position: relative;
        .co{
            float: left;
            width: 50%;
            h6{
                font-size: 26px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 800;
            }
            button{
                float: right;
            }
        }
    }    
}