#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #322e2dbd;
  font-size: 10px;
  border-right: 1px solid darken($color: #000000, $amount: 12);
  float: left;
  z-index: 1000;
  .desc {
    width: 100%;
    position: relative;
  }
  .footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    z-index: 1000;
    padding-left: 5%;
    padding-top: 10px;
    .foo {
      background-color: #998e8ca8;
      width: 100px;
      border-radius: 100px;

      h6 {
        color: white;
        padding-left: 10px;
        padding-top: 10px;
        width: inherit;
      }
      .bbt {
        border-radius: 20px;
      }
    }
  }
}

.sidebar-header {
  height: 150px;
  font-size: 14px;
  padding-top: 25px;
  padding-left: 0;
  color: white;
  width: 100%;
  border-bottom: 1px solid white;
  .cont {
    width: 80%;
    float: left;
    padding-top: 30px;
    /////////////
    position: fixed;
    padding-right: 0;
    h5 {
      font-size: 18px;
      font-weight: 900;
      color: white;
    }
    h6 {
      font-size: 13px !important;
      font-weight: 600;
    }
  }
  .conti {
    width: 10%;
    float: left;
    /////////////////
    position: fixed;
    left: 10.5pc;
    .img {
      height: 100px;
      width: 50px;
      z-index: -1;
    }
  }
}

.lis {
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 14px 0;
  //border-bottom: 0.1px solid rgb(255, 255, 255);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  h6 {
    padding-left: 40px;
    padding-right: 20px;
  }
}

.active {
  background-color: rgb(136, 136, 136) !important;
  color: black;
}
